:root{
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospial-green: #ACD9B2;
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

body{
    font-family: 'Quicksand', sans-serif;
}

.miAccountEdit{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.title{
    font-size: var(--lg);
    margin-bottom: 36px;
    text-align: start;
}

.formContainer{
    display: grid;
    grid-template-rows: auto 1fr  auto;
    width: 300px;
}

.form div{
    display: flex;
    flex-direction: column;
}

.label{
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
}

.name,
.emailAdress,
.password {
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    height: 28px;
    font-size: var(--sm);
    padding: 6px;
    margin-bottom: 32px;
}

.primaryButton{
    background-color: var(--hospial-green);
    border: none;
    border-radius: 8px;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--sm);
    font-weight: bold;
    height: 50px;
    margin-top: 12px;
    margin-bottom: 28px;
}    

@media (max-width: 640px) {
    .primaryButton{
        width: 300px;
        position: absolute;
        bottom: 0%;
        margin-bottom: 24px;
    }
}